* {
  box-sizing: border-box;
}
@media (min-width: 320px) {
  nav {
    flex-direction: column;
  }    
    }
    @media (min-width: 768px) {
    
    }
    @media (min-width: 992px){

    body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url();
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100vh;
    width: 100vw;
  }
  
  .logo {
    width: 40%;
    height: 100%;
    margin: .5% 35%;
  }
  
  header {
    display: grid;
    grid-template-columns: 80% 20%;
    width: 100%;
    background: rgb(33,129,158);
    background: linear-gradient(90deg, rgba(33,129,158,1) 14%, rgba(154,220,235,1) 66%);
  }
  
  main {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 30% 40% 30%;
  }
  
  nav > a {
    margin: 2% 1% 3%;
    height: 10%;
    width: 20%;
    color: rgb(3, 35, 44);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    border-radius: 25px;
    background: white;
    padding: 20px; 
    text-align: center;
    border: 2px solid rgb(4, 41, 66);
  }
  
  @-webkit-keyframes pulse {
    0% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  
    50% {
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
    }
  
    100% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  }
  
  @keyframes pulse {
    0% {
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
    }
  
    50% {
      -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
      transform: scale(1.1);
    }
  
    100% {
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
    }
  }
  
  .has-border {
    border-radius: 25px;
    border: 2px solid #0795C3;
    background: white;
    padding: 20px; 
    -webkit-animation-name: pulse;
    animation-name: pulse;
  }
  
 
  nav {
    display: flex;
    justify-content: center; 
    flex-wrap: nowrap;
    width: 100%;
    flex-direction: row;
  }
  
  #profile-pic {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin: 15% auto;
    grid-column: 2/3;
  }
  
  h1 {
    color:rgb(13, 126, 155);
    grid-column: 2/3;
    margin: 3% auto;
    border-bottom: 2px solid #1940A9;;
  }
  
  h2 {
    grid-column: 2/3;
    margin: 3% auto;
    font-style: italic;
  }
  
  button {
    grid-column: 2/3;
    margin: 3% auto;
    width: 70%;
    height: 15%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    border-radius: 25px;
    background: transparent;
    padding: 20px; 
    padding-bottom: 20px;
    text-align: center;
    color: #5cc4be;
    letter-spacing: 16px;
    font-style: italic;
  }
}